.container{
    height: 700px;
    background-image: url(assets/sfondo.jpg);
    background-color: aquamarine;
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.logoContainer{
    height: 200px;
    width: 200px;
    /* background-image: url(assets/logo.png);
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover; */
}

.centro{
    padding-top: 325px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 600;
}