body{
    background-color: goldenrod;
}

#first{
    background-color: red;
    width: 300px;
    height: 300px;
}

#second{
    background-color: green;
    width: 300px;
    height: 300px;
}

#third{
    background-color: blue;
    width: 300px;
    height: 300px;
}